RewriteEngine On

# Nếu file hoặc folder tồn tại thì giữ nguyên
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Mọi route trong /api/* sẽ vào front controller
RewriteRule ^ index.php [QSA,L]